<div class="results-panel">
  <% if @result.present? || @query_execution&.success? %>
    <%= render "result" %>
  <% else %>
      <div class="results-section">
      <%= render "results_info_empty" %>
      <%= render "empty_state" %>
      <%= render "compare_view" %>
    </div>
  <% end %>
</div>
