<div class="results-info">
  <div class="results-meta">
    <span>Ready to Query</span>
  </div>
  <div class="view-toggle">
    <button type="button" id="compare-tab" class="toggle-btn disabled" data-view="compare" title="Select 2 queries from history to compare">
      <span class="toggle-icon">⚖️</span> Compare
    </button>
  </div>
</div> 