
<div class="insights-container" data-queries="<%= @insight_queries.to_json %>">
  <%= render "query_panel" %>
  <div class="results-section-wrapper">
    <%= render "history_bar" %>
    <%= render "results_panel" %>
  </div>
</div>
