
<div class="insights-container" data-queries="<%= @insight_queries.to_json %>">
  <%= render "query_panel" %>
  <%= render "results_panel" %>
</div>

<%#= javascript_include_tag 'insights' %>
<%#= javascript_include_tag 'results' %>
